################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeautyProf/BeautyProf/bin
/BeautyProf/BeautyProf/obj/Debug
